<div class="col s-12">
  <h3>{{story.title}}
    <small>{{{editIcon story.user.id user.id story.id false}}}</small>
  </h3>
  <div class="card story">
    <div class="card-content">
      <span class="card-title">{{formatDate story.date 'MMMM Do YYYY'}}</span>
      {{{story.body}}}
    </div>
  </div>

  {{#if story.allowComments}}
  <div class="card">
    <div class="form-group">
      <span class="card-title">Comments</span>
      {{#if user}}
      <form method="post" action="/stories/comment/{{story.id}}">
        <div class="input-field">
          <textarea name="commentBody" class="form-control" class=""></textarea>
          <label> Add Your Comment</label>
        </div>
        <input type="submit" value="Submit" class="btn btn btn-outline-primary">
      </form>
      {{else}}
      <p>Please <a href="/users/login">log</a> in to leave a comment</p>
      {{/if}}
    </div>
  </div>
  <h4> User comments about this recipe </h4>
  {{#each story.comments}}

  <div class="card">
    <div class="card-content">
      <h5>{{commentBody}}</h5>
      <small> <a href="/stories/user/{{commentUser.id}}">
          {{commentUser.name}}
        </a>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>
<div class="col s-12 ">
  <div class="card center-align">
    <div class="card-content">
      <span class="card-title"> {{story.user.name}}</span>

    </div>
    <div class="card-action">
      <a href="/stories/user/{{story.user.id}}">See More Recipes Added By {{story.user.name}}</a>
    </div>
  </div>
</div>