<div class="col s-12">
  <h3>{{recipe.label}}
    <small>{{{editIcon recipe.user.id user.id recipe.id false}}}</small>
  </h3>
  <div class="card recipe">
    <div class="card-content">
      <span class="card-label">{{formatDate recipe.date 'MMMM Do YYYY'}}</span>
      <div> Search Term: {{{recipe.searchTerm}}}</div>
      <div> Prefered recipe type: {{{recipe.userSearch}}}</div>
      <div>Link to recipe: <a target="_blank" href="{{recipe.url}}">{{{recipe.url}}}</a></div>
      <div> <a target="_blank" href="{{recipe.image}}">{{{recipe.image}}}</a></div>
      <div>
        <p>Ingredients:</p>{{{recipe.ingredients}}}
      </div>
      <br>
      <div>
        <p>Directions: </p> {{{recipe.directions}}}
      </div>
      <br>
      <div>
        <p>Nutritional Information: </p> {{{recipe.nutrition}}}
      </div>
      <br>

    </div>
  </div>

  {{#if recipe.allowComments}}
  <div class="card">
    <div class="form-group">
      <span class="card-label">Comments</span>
      {{#if user}}
      <form method="post" action="/recipes/comment/{{recipe.id}}">
        <div class="input-field">
          <textarea name="commentBody" class="form-control" class=""></textarea>
          <label> Add Your Comment</label>
        </div>
        <input type="submit" value="Submit" class="btn btn btn-outline-primary">
      </form>
      {{else}}
      <p>Please <a href="/users/login">log</a> in to leave a comment</p>
      {{/if}}
    </div>
  </div>
  <h4> User comments about this recipe </h4>
  {{#each recipe.comments}}

  <div class="card">
    <div class="card-content">
      <h5>{{commentBody}}</h5>
      <small> <a href="/recipes/user/{{commentUser.id}}">
          {{commentUser.name}}
        </a>Posted: {{formatDate commentDate 'MMMM Do YYYY'}}</small>
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>
<div class="col s-12 ">
  <div class="card center-align">
    <div class="card-content">
      <span class="card-label"> {{recipe.user.name}}</span>

    </div>
    <div class="card-action">
      <a href="/recipes/user/{{recipe.user.id}}">See More Recipes Added By {{recipe.user.name}}</a>
    </div>
  </div>
</div>